---
const { item, index } = Astro.props;

const wrapperCss = `${item.textColor} md:flex ${
  index % 2 === 0 ? "" : "flex-row-reverse"
}`;
// const box1Css = `${item.imageBgColor} md:w-1/2 leading-none bg-red`;
const box1Css = `${item.imageBgColor} band h-full w-full flex aspect-square md:w-1/2`;
const box2Css = `${item.bgColor} grid place-content-center py-[6.25rem] px-8 md:py-8 md:w-1/2 md:px-24`;
---

<div class={wrapperCss}>
  <!-- <div class={box1Css}> -->
  <!-- <img src={item.image} /> -->
  <!-- <video
    class={box1Css}
    src={item.video}
    playsinline=""
    muted=""
    data-color={item.textColor}></video> -->
  <video class={box1Css} src={item.video} playsinline="" muted=""></video>
  <!-- </div> -->
  <div class={box2Css}>
    <div>
      <h3>{item.header}</h3>
      <div class="mt-8">{item.text}</div>
    </div>
  </div>
</div>
